<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caruski.eatoutlog">

    <application
        android:name=".EatOutLogApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewRestActivity"
            android:label="@string/activity_new_rest"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.NewDishActivity"
            android:label="Add New Dish"
            android:parentActivityName=".activity.NewRestActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ViewDishesActivity"
            android:label="View Dishes"
            android:parentActivityName=".activity.MainActivity" />
    </application>
</manifest>